html body ol .carousel-indicators {
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: 15;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 10px;
    top: 203px;

  }