*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  
}
html body{
	font-family: 'Cinzel', serif;
  font-size: 17px;
  color: black;
  background-color: #d3d3d3;

}

body ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

body li {
    float: left;
}

body li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body li a:hover {
    background-color: #111;
}

body header{
	margin-top: 80px;
}

body #menubalk{
      margin-top: -80px;
}

body .banner{
  background-image: url("../Images/home-banner.jpg");
  height: 200px;
  width: 100%;
  background-size: cover;
}

html body #happy{
  max-width: 15%;
  margin-left: 525px;

}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

html body .carousel-indicators {
    position: absolute;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: 115%;
    text-align: center;
    list-style: none;

  }

html body #indi1{
    bottom: 174px;
    left: 150px;
}

html body #indi2{
    left: -338px;
    top: 462px;
}



/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.carousel {
  width:320px;
  height:180px;
  left: 520px;
}

.item{
  margin-top: 110px;
}

html body #tekst1{
  align-items: center;
      padding: 10px;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#tekst2{
    width: 765px;
    margin-left: -472px;
    margin-top: -210px;
    padding: 10px;
}

#tekst3{
  text-align: center;
  padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    height: 500px;
    z-index: 3;
    margin: 0 auto;
    padding-top: 40px;

}

.flex-item1{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-top: 30px;
    margin-right: 800px;

 }

html body .flex-item2{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-top: -230px;
    margin-right: 800px;
}

#tekst4 {
    width: 840px;
    height: 600px;
    padding: 10px;
}

.flex-item3{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-top: 30px;

 }

.flex-item4{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-top: 30px;
}

.containerhome {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    height: 500px;
    z-index: 3;
    margin: 0 auto;
    padding-top: 40px;

}

html body .flex-item5{
    width: 389px;
    height: 388px;
    margin-top: -28px;
    margin-left: -254px;
  }

html body .flex-item6{
    width: 325px;
    height: 300px;
    margin-top: -388px;
    margin-left: 182px;

}

.containerjobs{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    height: 500px;
    z-index: 3;
    margin: 0 auto;
    padding-top: 40px;

}

html body .flex-item7{
    width: 417px;
    height: 388px;
    margin-top: -260px;
    margin-left: -277px;
}

html body .flex-item8{
  width: 472px;
    height: 300px;
    margin-top: -388px;
    margin-left: 219px;
}
html body .carousel-inner {
    position: relative;
    width: 118%;
    overflow: hidden;
  }

html body #inner1{
    left: 350px;
    bottom: 576px;
}


html body #inner2{
    top: 191px;
    right: 519px;

  }

 html body #carousel22 {
    position: relative;
    width: 100%;
    overflow: hidden;
    bottom: 680px;
}

#map{
    height: 400px;
    width: 600px;
    margin-left: 650px;
    margin-top: -292px;
}

html body #oudeman{
    margin-left: 908px;
    margin-bottom: -406px;
    z-index: 150;

}
